<div class="new-msg-form">
  {{input type="text" placeholder="Name" value=name class="name-input"}}
  {{input type="text" placeholder="Cusine Type" value=food class="food-input"}}
  {{input type="text" placeholder="Description" value=description class="description-input"}}
  {{input type="number" placeholder="Rank this Cart" value=rank class="rank-input"}}
  {{input type="number" placeholder="Cost" value=cost class="cost-input"}}
  <!-- {{input type="text" placeholder="Pod" value=pod class="pod-input"}} -->
    <!-- {{view "select" content=podFake}} -->
  <!-- <div class="form-group">
    <label for="pod">Select a pod</label>
    <select class="form-control" id="pod" value="pod">
      {{#each pod in pods}}
        <option>{{pod.podName}}</option>
      {{/each}}
    </select>
  </div> -->
{{view Ember.Select
contentBinding=pods
optionLabelPath="content.podName"
value=pod1
}}


  <button {{action 'addCart'}} class="submit">Submit</button>

</div>
