<div class="new-carts-link">{{#link-to 'carts.new'}}Add a new cart{{/link-to}}</div>

{{outlet}}



{{#each cart in model}}
  <div class="each-cart">{{cart.name}}: {{cart.food}}: {{cart.description}}: {{cart.rank}}: {{cart.cost}}: {{cart.pod}} </div>
{{/each}}
